<%= form_for @person do |f| %>
  <div class="row">
    <% if @person.errors.present? %>
      <div class="col-md-3">
        <div class="alert alert-danger" role="alert">
          <%= @person.errors.full_messages.to_sentence %>
        </div>
      </div>
      <div class="d-block w-100"></div>
    <% end %>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
    <div class="d-block w-100"></div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
